@charset "UTF-8";

@media screen and (min-width: 500px) {
    
    /* LOGO */
    .cabecalho__imgBox img {
        max-width: 7rem;
    }

    /* SEÇÃO DE SERVIÇO */
    .conteudo__secaoServico, .conteudo__secaoSegurancaCovid {
        padding: 7rem 1rem 3rem 1rem;
    }

    .conteudo__secaoServico > .container {
        max-width: none;
    }

    .conteudo__secaoServico h1 {
        font-size: 3.9em;
        max-width: 51%;
    }

    .conteudo__secaoServico p, .conteudo__secaoSegurancaCovid p {
        font-size: 1.2em;
    }

    .conteudo__secaoServico p {
        max-width: 25rem;
    }

    /* SEÇÃO SEGURANÇA DO COVID */
    .conteudo__secaoSegurancaCovid h1 {
        font-size: 3em;
        max-width: 20rem;
    }

    .conteudo__secaoSegurancaCovid p {
        max-width: 16rem;
    }

    /* SEÇÃO LOJA LOCAL */
    .secaoLoja__descricaoLojaLocal {
        padding: 5.1rem;
    }

}

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    /* SEÇÃO SERVIÇO */
    .conteudo__secaoServico > .container {
        max-width: 1170px;
    }

    /* SEÇÃO SEGURANÇA DO COVID */
    .conteudo__secaoSegurancaCovid h1 {
        max-width: 35rem;
    }

    .conteudo__secaoSegurancaCovid p {
        max-width: 27rem;
    }

    /* SEÇÃO LOJA LOCAL */
    .conteudo__secaoLojaLocal {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 4rem;
    }

    .secaoLoja__imgBox {
        width: 15rem;
        height: 26rem;
        min-height: auto;
        position: absolute;
        left: 1rem;
        top: 4rem;
    }

    .secaoLoja__descricaoLojaLocal {
        max-width: 80%;
        border-radius: 5px;
        padding: 3.1rem 2.5rem 3.5rem 10rem;
    }

    /* RODAPÉ */
    .rodape > .container {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 990px) {
    
    .cabecalho {
        padding: 1.1em;
    }

    /* BOTÃO MENU MOBILE */
    #botaoMenu {
        display: none;
    }

    /* ÁREA DE NAVEGAÇÃO */
    .navecacao__listaLinks {
        position: unset;
        flex-direction: row;
        height: auto;
        gap: 2.5rem;
        padding: 0;
        transition: none;
    }

    .listaLinks__item a {
        font-size: 1em;
    }

    /* CARRINHO DE COMPRAS */
    .navegacao__botaoAbrirCarrinho {
        margin-left: 3rem;
    }

    /* SEÇÃO LOJA LOCAL */
    .secaoLoja__imgBox {
        width: 23rem;
        top: 3rem;
    }

    .secaoLoja__descricaoLojaLocal {
        padding: 3.1rem 2.5rem 3.5rem 23rem;
    }

}