@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}             

/* PALETA DE CORES */
:root {

    --cor1: #222;
    --cor2: #fff;
    --cor3: #eb5757;

}

/* CORPO */
body {
    font-family: 'Sen', Arial, sans-serif;
    color: var(--cor1);
}

.container {}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor3);
    padding: 1.5rem;
}

.cabecalho > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.cabecalho__imgBox {}

.cabecalho__imgBox img {
    max-width: 5rem;
}

/* ÁREA DE NAVEGAÇÃO */
.cabecalho__navegacao {
    display: flex;
    align-items: center;
}

/* BOTÃO MENU MOBILE */
#botaoMenu {
    cursor: pointer;
    background-color: transparent;
    border: none;
    order: 1;
    color: var(--cor2);
    font-size: 1.12em;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    margin-left: 0.7rem;
}

#botaoMenu i {}

/* LISTA DE LINKS */
.navecacao__listaLinks {
    display: none;
}

.listaLinks__item {}

.listaLinks__item a {}

/* CARRINHO DE COMPRAS */
.navegacao__carrinhoCompras {
    background: var(--cor1);
    border-radius: 5px;
    height: 2rem;
    width: 2.7rem;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
}

.navegacao__carrinhoCompras::before {
    content: '0';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    width: 1.25rem;
    height: 1.25rem;
    right: -9px;
    top: -10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.75em;
}

.navegacao__carrinhoCompras svg {
    width: 1.25rem;
}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DE SERVIÇO */
.conteudo__secaoServico, .conteudo__secaoSegurancaCovid {
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    padding: 17rem 1rem 3rem 1rem;
    min-height: 530px;
}

.conteudo__secaoServico {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#222), to(rgba(34, 34, 34, 0))), url("../img/fundo-introducao.jpg");
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url("../img/fundo-introducao.jpg");
}

.conteudo__secaoServico > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 71%;
}

.conteudo__secaoServico h1, .conteudo__secaoServico p, .conteudo__secaoServico a {
    color: var(--cor2);
    margin-bottom: 1rem;
}

.conteudo__secaoServico h1 {
    font-size: 2em;
}

.conteudo__secaoServico p {
    font-size: 0.9em;
    line-height: 1.5;
}

.conteudo__secaoServico a {
    border: 2px solid var(--cor2);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    border-radius: 5px;
}

/* SEÇÃO DE APOIAR */
.conteudo__secaoApoiar {
    padding: 4rem 1rem 6rem 1rem;
}

/* SUPORTE */
.secaoApoiar__suporte {}

.suporte__titulo {}

.suporte__titulo span, .suporte__titulo h2 {
    margin-bottom: 1rem;
}

.suporte__titulo span {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.suporte__titulo h2 {
    font-size: 2.4em;
}

.suporte__descricao {}

.suporte__descricao p, .listaComprarDoar__item p {
    font-size: 0.99em;
    line-height: 1.5;
}

.suporte__descricao p {
    margin-bottom: 3rem;
}

/* LISTA DE COMPRAR E DOAR */
.secaoApoiar__listaComprarDoar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.listaComprarDoar__item {}

.item__blocoSuporte {
    background-color: var(--cor1);
    color: white;
    border-radius: 5px;
    margin-bottom: 3rem;
    position: relative;
    padding: 2rem 2rem 5.5rem 2rem;
    overflow: hidden;
}

.item__blocoSuporte span {
    font-size: 2.5em;
    font-weight: bold;
}

.item__blocoSuporte p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5em;
}

.item__blocoSuporte svg {
    position: absolute;
    right: -2.5rem;
}

.listaComprarDoar__item p {}

/* SEÇÃO SEGURANÇA DO COVID */
.conteudo__secaoSegurancaCovid {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.17)), to(#222)), url("../img/fundo-seguranca.jpg");
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222), url("../img/fundo-seguranca.jpg");
}

.conteudo__secaoSegurancaCovid h1 {}

.conteudo__secaoSegurancaCovid p {}

.conteudo__secaoSegurancaCovid a {}

/* SEÇÃO DE PRODUTOS */
.conteudo__secaoProdutos {}

.secaoProdutos__titulo {}

.secaoProdutos__titulo span {}

.secaoProdutos__titulo h2 {}

/* LISTA DE PRODUTOS */
.secaoProdutos__listaProdutos {}

.listaProduto__produto {}

.listaProduto__produto a {}

.listaProduto__produto img {
    width: 100%;
}

.produto__descricao {}

.produto__descricao h3 {}

.descricao__preco {}

.descricao__preco strong {}

.descricao__preco del {}

.produto__descricao a {}

/* SEÇÃO LOJA LOCAL */
.conteudo__secaoLojaLocal {}

.secaoLoja__imgBox {}

.secaoLoja__descricaoLojaLocal {}

.secaoLoja__descricaoLojaLocal h2 {}

.secaoLoja__descricaoLojaLocal p {}

.secaoLoja__descricaoLojaLocal span {}

.secaoLoja__descricaoLojaLocal span strong {}

/* RODAPÉ */
.rodape {}

.rodape a {}

.rodape a img {}

.rodape__iconeSocial {}

.rodape__iconeSocial .icone {}

.rodape__iconeSocial .icone img {}