@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor1);
}             

/* PALETA DE CORES */
:root {

    --cor1: #222;
    --cor2: #fff;
    --cor3: #eb5757;

}

/* CORPO */
body {
    font-family: 'Sen', Arial, sans-serif;
}

.container {}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor3);
    padding: 1.5rem;
}

.cabecalho > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.cabecalho__imgBox {}

.cabecalho__imgBox img {
    max-width: 5rem;
}

/* ÁREA DE NAVEGAÇÃO */
.cabecalho__navegacao {
    display: flex;
    align-items: center;
}

/* BOTÃO MENU MOBILE */
#botaoMenu {
    cursor: pointer;
    background-color: transparent;
    border: none;
    order: 1;
    font-size: 1.12em;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    margin-left: 0.7rem;
}

#botaoMenu.ativado { /*CLASSE ATIVADA COM JAVASCRIPT*/
    background-color: var(--cor1);
}

#botaoMenu i {
    color: var(--cor2);
}

/* LISTA DE LINKS */
.navecacao__listaLinks {
    position: fixed;
    background: var(--cor3);
    top: 0;
    width: 100%;
    height: 100vh;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    transition: all .3s;
}

.navecacao__listaLinks.ativado { /*CLASSE ATIVADA COM JAVASCRIPT*/
    right: 0;
} 

.listaLinks__item {
    text-align: center;
    width: 100%;
}

.listaLinks__item a {
    color: var(--cor2);
    font-weight: 500;
    text-decoration: none;
    font-size: 2em;
    display: block;
    padding: 0.6rem;
    border-radius: 5px;
}

.listaLinks__item a:hover {
    background-color: var(--cor1);
}

/* CARRINHO DE COMPRAS */
.navegacao__botaoAbrirCarrinho {
    background: var(--cor1);
    border-radius: 5px;
    height: 2rem;
    width: 2.7rem;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.navegacao__botaoAbrirCarrinho::before {
    content: '0';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    width: 1.25rem;
    height: 1.25rem;
    right: -9px;
    top: -10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.75em;
}

.navegacao__botaoAbrirCarrinho svg {
    width: 1.25rem;
}

.navegacao__carrinhoCompras {
    background-color: var(--cor2);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    right: 0;
    opacity: 0;
    transition: .4s;
    overflow: hidden;
    visibility: hidden;
    z-index: 3;
}

.navegacao__carrinhoCompras.ativado::before { /* CLASSE ATIVADA COM JAVASCRIPT */
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    display: block;
    left: 0;
    height: 100vh;
    width: calc(100vw - 467px);
    z-index: -1;
}

.navegacao__carrinhoCompras.ativado { /* CLASSE ATIVADA COM JAVASCRIPT */
    opacity: 1;
    overflow: auto;
    visibility: visible;
}

.carrinhoCompras__titulo {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    height: 3.5rem;
}

.carrinhoCompras__titulo h2 {
    color: var(--cor1);
    font-size: 1.12em;
}

.botaoFecharCarrinho {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.botaoFecharCarrinho svg {}

.carrinhoCompras__corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 3.5rem);
}

.carrinhoCompras__corpo span {}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DE SERVIÇO */
.conteudo__secaoServico, .conteudo__secaoSegurancaCovid {
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    padding: 17rem 1rem 3rem 1rem;
    min-height: 530px;
}

.conteudo__secaoServico {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#222), to(rgba(34, 34, 34, 0))), url("../img/fundo-introducao.jpg");
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url("../img/fundo-introducao.jpg");
}

.conteudo__secaoServico > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 71%;
}

.conteudo__secaoServico h1, .conteudo__secaoServico p, .conteudo__secaoServico a {
    color: var(--cor2);
    margin-bottom: 1rem;
}

.conteudo__secaoServico h1 {
    font-size: 2em;
}

.conteudo__secaoServico p {
    font-size: 0.9em;
    line-height: 1.5;
}

.conteudo__secaoServico a {
    border: 2px solid var(--cor2);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    transition: .2s;
}

.conteudo__secaoServico a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

/* SEÇÃO DE APOIAR */
.conteudo__secaoApoiar {
    padding: 4rem 1rem 6rem 1rem;
}

/* SUPORTE */
.secaoApoiar__suporte {}

.suporte__titulo {}

.suporte__titulo span, .suporte__titulo h2 {
    margin-bottom: 1rem;
}

.suporte__titulo span {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.suporte__titulo h2 {
    font-size: 2.4em;
}

.suporte__descricao {}

.suporte__descricao p, .listaComprarDoar__item p {
    font-size: 0.99em;
    line-height: 1.5;
}

.suporte__descricao p {
    margin-bottom: 3rem;
}

/* LISTA DE COMPRAR E DOAR */
.secaoApoiar__listaComprarDoar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.listaComprarDoar__item {
    flex: 1 1 15rem;
}

.item__blocoSuporte {
    background-color: var(--cor1);
    border-radius: 5px;
    margin-bottom: 3rem;
    position: relative;
    padding: 2rem 2rem 5.5rem 2rem;
    overflow: hidden;
    height: 20rem;
}

.item__blocoSuporte span {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--cor2);
}

.listaComprarDoar__item:nth-child(2) > .item__blocoSuporte span  {
    display: block;
    margin-bottom: 3rem;
}

.item__blocoSuporte p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    margin: 1rem auto 1rem auto;
    max-width: 14rem;
    color: var(--cor2);
}

.item__blocoSuporte svg {
    position: absolute;
    right: -2.5rem;
}

.listaComprarDoar__item:nth-child(2) > .item__blocoSuporte svg  {
    top: 15rem;
}

.listaComprarDoar__item p {}

/* SEÇÃO SEGURANÇA DO COVID */
.conteudo__secaoSegurancaCovid {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.17)), to(#222)), url("../img/fundo-seguranca.jpg");
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.17), #222), url("../img/fundo-seguranca.jpg");
    color: var(--cor2);
}

.conteudo__secaoSegurancaCovid > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.conteudo__secaoSegurancaCovid h1, .conteudo__secaoSegurancaCovid p {
    color: var(--cor2);
    margin-bottom: 1rem;
}

.conteudo__secaoSegurancaCovid h1 {
    font-size: 1.9em;
}

.conteudo__secaoSegurancaCovid p {
    font-size: 0.9em;
    line-height: 1.5;
    max-width: 14rem;
}

.conteudo__secaoSegurancaCovid a {
    border: 2px solid var(--cor2);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    transition: .2s;
    background-color: var(--cor2);
    color: var(--cor1);
    transition: .2s;
}

.conteudo__secaoSegurancaCovid a:hover {
    border: 2px solid var(--cor3);
    background-color: var(--cor3);
    color: var(--cor2);
}

/* SEÇÃO DE PRODUTOS */
.conteudo__secaoProdutos {
    padding: 4rem 1rem 4.5rem 1rem;
}

.secaoProdutos__titulo {}

.secaoProdutos__titulo span {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.secaoProdutos__titulo h2 {
    font-size: 2.4em;
    max-width: 85%;
    margin-bottom: 3rem;
}

/* LISTA DE PRODUTOS */
.secaoProdutos__listaProdutos {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.listaProduto__produto {
    flex: 1 1 18rem;
}

.listaProduto__produto a {
    text-decoration: none;
    color: var(--cor1);
}

.listaProduto__produto img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.produto__descricao {}

.produto__descricao h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.descricao__preco {
    display: block;
    margin-bottom: 1.6rem;
}

.descricao__preco strong {
    margin-right: 0.5rem;
}

.descricao__preco del {
    color: var(--cor3);
    text-decoration: line-through;
    font-weight: 700;
}

.produto__descricao a:nth-child(2) {
    color: var(--cor2);
    background-color: var(--cor3);
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s;
}

.produto__descricao a:nth-child(2):hover {
    background-color: var(--cor1);
}

.produto__descricao a {}

/* SEÇÃO LOJA LOCAL */
.conteudo__secaoLojaLocal {}

.secaoLoja__imgBox {
    min-height: 440px;
    border-radius: 5px;
    background-position: 69% 80%;
    background-size: 270%;
    background-image: url("../img/fundo-christiann.jpg");
}

.secaoLoja__descricaoLojaLocal {
    background-color: var(--cor1);
    padding: 2rem;
    padding-bottom: 4rem;
}

.secaoLoja__descricaoLojaLocal h2 {
    margin-bottom: 1rem;
    font-size: 2.8em;
    color: var(--cor2);
}

.secaoLoja__descricaoLojaLocal p {
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--cor2);
}

.secaoLoja__descricaoLojaLocal span {
    line-height: 1.5;
    color: var(--cor2);
}

.secaoLoja__descricaoLojaLocal span strong {
    color: var(--cor2);
}

/* RODAPÉ */
.rodape {
    background-color: var(--cor1);
    padding: 2rem;
    padding-bottom: 3rem;
}

.rodape > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.rodape a {}

.rodape a img {}

.rodape__iconeSocial {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

.rodape__iconeSocial .icone {}

.rodape__iconeSocial .icone img {
    width: 2.4rem;
    cursor: pointer;
    transition: .5s;
}

.rodape__iconeSocial .icone img:hover {
    opacity: 0.6;
}